#character-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--avern-input-gradient);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }