#character-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--avern-input-gradient);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .menu-pane {
      display: flex;
      align-items: center;
      max-width: 700px;
    }
    .portrait {
      width: 100px;
    }
    .stats {
      display: flex;
      justify-content: space-between;
    }

.actions {
  display: flex;
  width: 440px;
  align-self: stretch;
  flex-wrap: wrap;
  position: relative;
  height: min-content;
  padding-top: 120px;
  margin: 10px;
  gap: 10px;
}

    .action-tile {
      width: 100px;
      height: 100px;
      border: 1px solid white;
      background: black;
      border-radius: 6px;
      span {
        position: absolute;
        top: 2px;
        right: 2px;
        color: white;
      }

      &.action1 {
        border: 1px solid blue;
        position: absolute;
        top: 0;
        right: 1px;
      }
      &.action2 {
        border: 1px solid blue;
        position: absolute;
        top: 0;
        right: 112px;

      }
      &.action3 {
        border: 1px solid blue;
        position: absolute;
        top: 0;
        right: 223px;

      }
      &.action4 {
        border: 1px solid blue;
        position: absolute;
        top: 0;
        right: 334px;

      }
    }
    &.rightHanded .action-tile.action1{
      right: 336px;

    }
    &.rightHanded .action-tile.action2{
      right: 224px;
    }
    &.rightHanded .action-tile.action3{
      right: 113px;
    }
    &.rightHanded .action-tile.action4{
      right: 2px;
    }
  }