#character-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--avern-input-gradient);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .menu-pane {
      display: flex;
      // align-items: center;
      height: 500px;
    }
    .flex-col {
      gap: 0;
      border-left: 1px solid var(--avern-light-grey);
    }
    .portrait {
      width: 100px;
    }
    .stats {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding: 20px;
      background: rgba(48, 30, 3, 0.5);
      .attribute-line, .level-line {
        display: flex;
        width: 120px;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
.action-descript {
  width: 100%;
  height: 240px;
  .action-descript-bg {
    width: 80%;
    height: 100%;
    background: var(--avern-input-gradient);
    margin: 0 auto;
  }
}
.tabs button {
  margin-bottom: 5px;
}
.item-container {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
  background: var(--avern-off-black);
  overflow: scroll;
  overflow-x: hidden;
}
.info-box {
  padding: 5px 20px;
  height: 140px;
  width: 320px;
  background: var(--avern-input-gradient);
  .primary-modifier, .secondary-modifier {
    font-size: 10px;
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-family: var(--serif-italic);
    color: var(--avern-yellow);
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.actions {
  display: flex;
  width: 386px;
  align-self: stretch;
  flex-wrap: wrap;
  position: relative;
  height: min-content;
  padding-top: 100px;
  margin: 20px;
  gap: 19px;
}

    .action-tile {
      width: 80px;
      height: 80px;
      border: 1px solid white;
      background: black;
      border-radius: 6px;
      cursor: grab;
      position: relative;

      &:hover {
        .menu-action-tooltip {
          h3 {
            margin: 0;
            font-size: 14px;
          }
          p {
            margin: 0;
            font-size: 12px;
          }
        }
      }
      img {
        width: 80%;
        height: 80%;
        padding: 10%;
      }
      span {
        position: absolute;
        top: 2px;
        right: 6px;
        color: white;
      }

      &.action1 {
        border: 1px solid var(--avern-yellow);
        background: var(--avern-off-black);
        position: absolute;
        top: 0;
        right: 1px;
      }
      &.action2 {
        border: 1px solid var(--avern-yellow);
        background: var(--avern-off-black);
        position: absolute;
        top: 0;
        right: 102px;

      }
      &.action3 {
        border: 1px solid var(--avern-yellow);
        background: var(--avern-off-black);
        position: absolute;
        top: 0;
        right: 203px;

      }
      &.action4 {
        border: 1px solid var(--avern-yellow);
        background: var(--avern-off-black);
        position: absolute;
        top: 0;
        right: 304px;

      }
    }
    .menu-action-tooltip {
      position: absolute;
      top: 0;
      left: 90px;
      width: 250px;
      display: none;
      z-index: 3;
      background: var(--avern-off-black);
      border: 1px solid var(--avern-yellow);
      border-radius: 6px;
      padding: 20px;
    }
    &.rightHanded .action-tile.action1{
      right: 336px;

    }
    &.rightHanded .action-tile.action2{
      right: 224px;
    }
    &.rightHanded .action-tile.action3{
      right: 113px;
    }
    &.rightHanded .action-tile.action4{
      right: 2px;
    }
  }