#game-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--avern-input-gradient);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .info-pane {
        height: calc(60vh + 84px);
        width: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .info-tutorial {
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        a {
            color: var(--avern-green);
        }
        h3 {
            margin-top: 0;
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
    .files-pane, .settings-pane{
        height: 30vh;
        width: 300px;
        padding: 20px;
        h3 {
            margin-top: 0;
        }
        .config-button {
            margin-bottom: 20px;
        }
        .files-root {
            display: flex;
            flex-direction: column;
            a {
                color: var(--avern-blue);
                font-family: var(--serif);
                text-transform: uppercase;
                letter-spacing: 0.02em;
                font-size: 12px;
                margin-top: auto;
                display: block;
            }
        }
    }
}
.demo-container span {
    background-color: var(--avern-off-black);
    border: 1px solid white;
    width: 14px;
    padding: 0px 4px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 2px;
    border-bottom-width: 2px;
    text-align: center;
    border-radius: 4px;
}