.menu-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  rgba(50, 50, 50, 0.8);
}
.menu-pane {
  border: 2px solid var(--avern-grey);
  position: relative;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(48, 30, 3, 0.8) 0%, rgba(50, 50, 50, 0.8) 100%);;
 p {
    color: var(--avern-tan);
    line-height: 1.8em;
  }
}
.tutorial {
  max-width: 800px;
  padding: 40px;
  color: white;
  opacity: 0.8;
}
.energy-example {
  display: inline-block;
  width: 60px !important;
  height: 5px;
  border-radius: 0 !important;
  background-color: var(--avern-gold) !important;
  border: 2px solid var(--avern-grey) !important;
}
.menu-pane .config-button {
  background: none;
  display: inline;
  width: fit-content;
  margin-bottom: 0;
  margin-right: 20px;
  border: 1px solid white;
  color: white;
  opacity: 0.6;
  padding: 5px 20px;
  &:hover {
    opacity: 1;

  }
  &.active {
    opacity: 1;
    color: var(--avern-green);
    border-color: var(--avern-green);

  }
}
.menu-heading {
  font-family: var(--serif-italic);
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  text-shadow: 1px 1px 2px var(--avern-brown);
  top: -18px;
  left: 20px;
}
.menu-inner-bg {

}
.menu-pane .tabs {
  display: flex;
  button {
      background: none;
      border: none;
      color: var(--avern-yellow);
      width: fit-content;
      cursor: pointer;
      &:hover {
          color: white;
      }
      &.active {
          text-decoration: underline;
      }
  }
}
.menu-pane button {
  background: var(--avern-input-gradient);
  border: 1px solid var(--avern-grey);
  border-radius: 6px;
  display: flex;
  padding: 4px;
  width: 120px;
  font-family: SourceSans;
  color: white;
  margin-bottom: 20px;
  justify-content: center;
  &:hover {
    color: white;
    border-color: white;
  }
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right-align {
  text-align: right;
}