// HEALTH

.bars {
  position: fixed;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.health-bar, .energy-bar, .mana-bar {
  border: 1px solid var(--avern-off-black);
  padding: 2px;
  background: linear-gradient(var(--avern-grey), var(--avern-off-black));
  width: fit-content;
}
.player-state .bars .health {
  height: 8px;
  width: 300px;
  background: linear-gradient(var(--avern-brown), var(--avern-off-black));
  border: 1px solid var(--avern-off-black);
}
.player-state .bars .energy, .player-state .bars .mana  {
  height: 8px;
  width: 200px;
  background: linear-gradient(var(--avern-brown), var(--avern-off-black));
  border: 1px solid var(--avern-off-black);
}
.player-state .bars .health .inner-health { 
  background-color: var(--avern-dark-red);
  height: 100%;
  transition: width 0.2s;
}
.player-state .bars .energy .inner-energy { 
  background-color: var(--avern-gold);
  height: 100%;
  transition: width 0.2s;
}
.player-state .bars .mana .inner-mana { 
  background-color: var(--avern-blue);
  height: 100%;
  transition: width 0.2s;
}

// XP
.player-state .xp {
  position: fixed;
  top: 40px;
  right: 40px;
  border: 1px solid var(--avern-off-black);
  padding: 1px;
  background: linear-gradient(var(--avern-grey), var(--avern-off-black))
}
.xp-inner {
  width: 60px;
  background: linear-gradient(var(--avern-brown), var(--avern-off-black));
  border: 1px solid var(--avern-off-black);
  display: flex;
  justify-content: flex-end;
  padding: 0px 4px
}
.player-state .xp span {
  color: white;
  font-family: var(--serif);
  font-size: 70%;
  line-height: 1;
  letter-spacing: 0.08em;
}

// .player-input {
//   opacity: 1;
// }
// .player-input.interactionActive {
//   opacity: 0;
// }

// main hand
.equipped {
  position: fixed;
  bottom: 20px;
  left: 40px;
  display: flex;
  flex-direction: column;
  .rightHanded & {
    left: unset;
    right: 40px;
  }
}
  .input-key {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    padding: 2px;
    background: var(--avern-input-border-gradient);
    position: relative;
    transition: all 0.2s;

    &:hover {
      .action-tooltip {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.2s;
      }
    }
    &.is-casting {
      .action-active-indicator {
        opacity: 1;
        background: radial-gradient(transparent, var(--avern-yellow));
      }
    }
    &.primed {
      transform: scale(1.2);
      transform-origin: center;

      .action-active-indicator {
        opacity: 1;
        background: radial-gradient(transparent, var(--avern-blue));
      }
    }
    .action-active-indicator {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 5px;
      opacity: 0;
      transition: all 0.2s;
    }
    .action-tooltip {
      pointer-events: none;
      z-index: 100;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.2s;
      position: absolute;
      width: 300px;
      bottom: 65px;
      left: 0;
      background: linear-gradient(var(--avern-brown), var(--avern-off-black));
      border: 2px solid var(--avern-light-grey);
      border-radius: 8px;
      padding: 12px;
      .rightHanded & {
        left: unset;
        right: 0;
      }
      h3 {
        margin: 0px;
        font-family: var(--serif-italic);
        color: yellow;
        font-size: 1rem;
      }
      p {
        margin: 5px 0 0;

        font-size: 0.8rem;

        font-family: var(--sans);
      }

    }
  }
  .bottom-row {
    display: flex;
    align-items: center;
    
    
    .rightHanded & {
      flex-direction: row-reverse;
      margin-left: 0 !important;
      margin-right: 90px;
    }
  }
  .offhand .bottom-row {
    margin-left: 68px;
  }

  .bottom-row .input-key {
    margin: 8px 0 0 0;
  }

  .input-key .key-inner {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: var(--avern-input-gradient);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-key span {
    position: absolute;
    top: 4px;
    right: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
  }
   .equipped .main-row .input-key svg {
    width: 55%;
    height: 55%;
    }

.offhand {
  position: fixed;
  bottom: 20px;
  right: 40px;
  .action-tooltip {
    left: unset;
    right: 0;
    .rightHanded & {
      right: unset;
      left: 0;
    }
  }
  .rightHanded & {
    right: unset;
    left: 40px;
  }
}
 .offhand .top-row {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-bottom: 8px;
  margin-left: 118px;
  .rightHanded & {
    // flex-direction: row-reverse;
    margin-left: 50px;
  }
}
 .equipped .top-row {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-bottom: 8px;
  margin-left: 110px;
  .rightHanded & {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 140px;
  }
}
.equipped .main-row {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  #setTarget {
    order: -1;
  }
  .rightHanded & {
    flex-direction: row;
  }
}
// offhand
.offhand .main-row {
  display: flex;
  gap: 8px;
  .rightHanded & {
    flex-direction: row-reverse;
    #cameraDown {
      order: -1;
    }
    #left {
      order: 3;
    }
    #back {
      order: 2;
    }
    #right {
      order: 1;
    }
    #interact {
      order: 0;
    }
}

}
.offhand .input-key, .equipped .input-key {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(48, 30, 3, 0.3) 0%, rgba(50, 50, 50, 0.6) 100%);;
}
.input-key img {
  width: 55%;
  height: 55%;
}
.input-key.active {
  filter: brightness(200%);
  transform: translateY(2px);
  transition: transform 0.2s ease-in-out;
}

.equipment-action {
  // border: 1px solid var(--avern-blue);
}
.input-key.locked {
  opacity: 0.1;
  // border: 1px solid transparent;
}
.oom {
  filter: brightness(40%);
  // border: 1px solid transparent;
}
.equipment-action.locked {
  opacity: 0.1 !important;

  // border: 1px solid transparent;
}


.action-inventory {
  position: absolute;
  top: -8px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .rightHanded & {
    left: unset;
    right: 0px;
  }
  
  .flask-count {
    border: 1px solid var(--avern-off-black);
    padding: 1px;
    background: linear-gradient(var(--avern-grey), var(--avern-off-black));
    position: relative;
  }
  .flask-count-inner {
    width: 60px;
    background: linear-gradient(var(--avern-brown), var(--avern-off-black));
    border: 1px solid var(--avern-off-black);
    display: flex;
    justify-content: flex-end;
    padding: 0px 4px
  }
  .flask-count span {
    color: white;
    font-family: var(--serif);
    font-size: 80%;
    line-height: 1;
    letter-spacing: 0.08em;
  }
  .flask-count svg {
    position: absolute;
    left: 6px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
  }  
}

#casting-bar {
  border: 1px solid var(--avern-off-black);
  padding: 2px;
  background: linear-gradient(var(--avern-grey), var(--avern-off-black));
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);

  .outer-casting-bar { 
    height: 6px;
    width: 300px;
    background: linear-gradient(var(--avern-brown), var(--avern-off-black));
    border: 1px solid var(--avern-off-black);
  }
  .inner-casting-bar { 
    background-color: var(--avern-blue);
    width: var(--player-casting-width);
    height: 100%;
  }
  #casting-bar-caption {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    color: var(--avern-yellow);
    font-family: var(--serif-italic);
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}

// NOTICES
#notices-container {
  position: fixed;
  top: 140px;
  left: 40%;
  right: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    text-align: center;
    font-family: var(--serif);
    filter: drop-shadow(0 0.1rem 0.2rem black);
    background: var(--avern-input-gradient);
    border-radius: 6px;
    padding: 4px 6px;
    margin-bottom: 0px;
  }
}


.numbers-container {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.order-container {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
  background: var(--avern-off-black);
  font-family: var(--sans);
  font-size: 14px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  transition: background 0.1s ease;
  padding: 2px;
  border: 1px solid var(--avern-grey);
  svg path {
    stroke: var(--avern-light-grey);
  }

  &.targeted {
    border: 1px solid var(--avern-brown);
    svg path {
      stroke: var(--avern-red);
    }
  
    // color: var(--avern-off-black);
    // background: var(--avern-green);
    }
}
.numbers-container span {
  font-family: var(--sans);
  color: var(--avern-dark-red);
  font-size: 24px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--avern-red);
  animation: showDamageNumber 1.5s linear forwards;
  display: inline-block;
}
.action-indicator {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.action-indicator {
  border: 1px solid var(--avern-light-grey);
  border-bottom: 2px solid var(--avern-light-grey);
  border-radius: 4px;
  background: linear-gradient(var(--avern-brown), var(--avern-off-black));
  color: var(--avern-light-grey);
  font-family: var(--sans);
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes showDamageNumber {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(-10px) scale(0.8);
  }
  20% {
    opacity: 1;
    transform: translateY(-40) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.6);
  }
}

.primed {
  color: red;
}