#tooltip {
    position: fixed;
    bottom: 165px;
    left: 40px;
    min-width: 200px;
    min-height: 100px;
    max-width: 100px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 10px !important;
    border: 1px solid white;
    opacity: 0.9;
    border-radius: 6px;
    padding: 10px;
  }
  #tooltip h3 {
    margin: 0;
  }